/* noto-serif-jp-extralight */
@font-face {
	font-family: "Noto Serif JP";
	font-style: normal;
	font-weight: 200 900;
	font-stretch: 100%;
	src: local("Noto Serif JP ExtraLight"), local("NotoSerifJP-ExtraLight"), url('/fonts/noto-serif-jp-200900.woff2') format('woff2');
	font-display: auto;
}

