/* noto-serif-sc-extralight */
@font-face {
	font-family: "Noto Serif SC";
	font-style: normal;
	font-weight: 200 900;
	font-stretch: 100%;
	src: local("Noto Serif SC ExtraLight"), local("NotoSerifSC-ExtraLight"), url('/fonts/noto-serif-sc-200900.woff2') format('woff2');
	font-display: auto;
}

