/* shippori-mincho */
@font-face {
	font-family: "Shippori Mincho";
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("Shippori Mincho Regular"), local("ShipporiMincho-Regular"), url('/fonts/shippori-mincho-400.woff2') format('woff2');
	font-display: swap;
}

